USE [master]
GO
/****** Object:  Database [TechnoApp]    Script Date: 13/7/2018 20:12:07 ******/
CREATE DATABASE [TechnoApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechnoApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TechnoApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechnoApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TechnoApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechnoApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechnoApp]
GO
USE [TechnoApp]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 13/7/2018 20:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[IdDep] [varchar](3) NOT NULL,
	[Nombre_Departamento] [varchar](50) NULL,
	[Numero_Oficina] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Dep]    Script Date: 13/7/2018 20:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Dep](
	[IdEmp] [int] NULL,
	[IdDep] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 13/7/2018 20:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmp] [int] NOT NULL,
	[Nombre_Empleado] [varchar](50) NULL,
	[Apellido_Empleado] [varchar](100) NULL,
	[Puesto] [varchar](50) NULL,
	[Extension] [int] NULL,
	[Fecha_Ingreso] [date] NULL,
	[Genero] [varchar](2) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Salario_Hora] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emp_Dep]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Dep_Departamentos] FOREIGN KEY([IdDep])
REFERENCES [dbo].[Departamentos] ([IdDep])
GO
ALTER TABLE [dbo].[Emp_Dep] CHECK CONSTRAINT [FK_Emp_Dep_Departamentos]
GO
ALTER TABLE [dbo].[Emp_Dep]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Dep_Empleados] FOREIGN KEY([IdEmp])
REFERENCES [dbo].[Empleados] ([IdEmp])
GO
ALTER TABLE [dbo].[Emp_Dep] CHECK CONSTRAINT [FK_Emp_Dep_Empleados]
GO
USE [master]
GO
